<div class="top_fold">
  <div id="page_text">
    <h1> How people <br> build software </h1>
    <h3> Millions of developers use GitHub to build personal projects, support their businesses, and work together on open source technologies. </h3>
  </div>
</div>
